<ion-header>
  <ion-toolbar color="sucess">
    <ion-button slot="end" (click)="fecharModal()">Fechar</ion-button>
    <ion-title> Cadastar Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="enviarFormulario(f)">
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input ngModel name = "Descrição"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input ngModel name = "valor"></ion-input>
    </ion-item>
    <ion-button fill="outline" expand="block"b type="submit">Cadastrar</ion-button>
  </form>
</ion-content>